* {
  box-sizing: border-box;
  //border: 1px solid red;
}

// body {
//   background-color: grey;
// }

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
}
